.main4 {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        width: 520px;
        height: 305px;
    }

    iframe {
        width: 520px;
        height: 305px;
    }

}

.titulo4 {
    text-align: center;
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.ultimo1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.video3 {
    width: 600px;
    height: 300px;
}

.div4 {
    text-align: center;
}

.article4 {

    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.img4 {
    height: 300px;
    width: 500px;

}