.qatar img {
    width: 550px;
    height: 350px;
}

.titulo5c {
    margin-top: 4rem;
}

.bangladesh {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;


}

.mapa {
    width: 400px;
    height: 250px;
}

.img5 {
    width: 400px;
    height: 250px;
}