@media screen and (max-width: 768px) {
    .bodyTotal {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0, 8fr 1fr 1fr 1fr 0fr;
        grid-template-areas:
            "menu"
            "intro"
            "principal1"
            "principal2"
            "video"
            "footer";
    }

    .encabezado img {
        width: 50px;
        margin-left: 5rem;
    }

    li {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.1rem;
        margin-top: 2rem;
    }


    .center {
        font-size: 1rem;
        height: 40rem;
    }

    .post1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 3rem;

        p {
            margin-top: 1rem;
        }
    }

    .imagen1 {
        width: 550px;
        height: 320px;
        margin-top: 1rem;
    }

    .descrip1 {
        font-size: 1.1rem;
    }

    .post2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;

        p {
            margin-top: 1rem;
        }
    }


    .imagen2 {
        width: 550px;
        height: 325px;
        margin-top: 1rem;
    }

    .descrip2 {
        font-size: 1.1rem;
    }

    .post3 {
        height: 33rem;
    }

    .descrip3 {
        color: whitesmoke;
        font-size: 1.1rem;
    }

    .video1 {
        height: 220px;
        width: 360px;
        margin-top: 2rem;
    }

    .footer img {
        height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .bodyTotal {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0, 6fr 1fr 1fr 1fr 0.1fr;
        grid-template-areas:
            "menu"
            "intro"
            "principal1"
            "principal2"
            "video"
            "footer";
    }

    li {
        font-size: 1rem;
    }

    .center {
        font-size: 0.9rem;
        height: 30rem;
    }

    .descrip1 {
        font-size: 0.9rem;
    }

    .imagen1 {
        width: 400px;
        height: 200px;
        margin-top: 0, 5rem;
        margin-right: none;
    }

    .descrip2 {
        font-size: 0.9rem;
    }

    .imagen2 {
        width: 400px;
        height: 200px;
        margin-top: 0, 5rem;
    }

    .descrip3 {
        color: whitesmoke;
        font-size: 0.8rem;
    }

    .video1 {
        height: 200px;
        width: 300px;
        margin-top: 2rem;
    }

    .footer img {
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .bodyTotal2 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 4fr 0.1fr;
        grid-template-areas:
            "menu "
            "titulo"
            "contenido "
            "footer ";
    }

    .main3 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

    }

    .titulo3 {
        text-align: center;
        margin-top: 2rem;
        font-size: 1rem;

    }

    .partido1 {

        margin-bottom: 2rem;

        font-size: 1rem;
    }


    .video2 {
        width: 480px;
        height: 280px;
    }
}

@media screen and (max-width:500px) {
    .bodyTotal2 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 7fr 0.1fr;
        grid-template-areas:
            "menu "
            "titulo"
            "contenido "
            "footer ";
    }

    .main3 {
        margin-top: 4rem;
    }


    .titulo3 {

        margin-top: 3rem;
        font-size: 0.9rem;

    }

    .partido1 {
        font-size: 0.9rem;
    }


    .video2 {
        width: 400px;
        height: 220px;
    }
}