@import "lailusion";
@import "elcamino";
@import "lafinal";
@import "lagente";
@import "mediaqueries.scss";



* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

html {
    font-size: 62.5%;
}

.bodyTotal1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 6.5fr 0.2fr;
    grid-template-areas:
        "menu menu"
        "contenido contenido"
        "footer footer";


    .navegacion {
        grid-area: menu;
    }

    .intro {
        grid-area: contenido;
    }

    .footer {
        grid-area: footer;
    }
}


.encabezado {
    background-color: gray;
    display: flex;
    justify-content: space-between;

    img {
        width: 80px;
        margin-left: 5rem;
    }
}

a {
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    margin-right: 4.5rem;
    font-size: 1.5rem;
    margin-top: 3rem;
}

ul {
    list-style-type: none;

}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 4rem;

    img {
        height: 300px;
    }

    h2 {
        padding-top: 1rem;
        font-size: 2.1rem;
    }
}

main div:hover {
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3)
}

.card {
    margin-top: 0.5rem;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer {
    text-align: right;

    img {
        height: 40px;
    }
}