.bodyTotal2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.3fr 0, 8fr 1fr 1fr 1fr 0fr;
  grid-template-areas: "menu menu" "intro intro" "principal1 principal1" "principal2 principal2" "video video" "footer footer";
}

.navegacion {
  grid-area: menu;
}

.center {
  grid-area: intro;
}

.post1 {
  grid-area: principal1;
}

.post2 {
  grid-area: principal2;
}

.post3 {
  grid-area: video;
}

.footer {
  grid-area: footer;
}

.center {
  background-image: url(../imagenes/cuerpo\ tecnico1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.center p {
  font-size: 1.7rem;
}

.post1 {
  display: flex;
  margin-top: 3rem;
}
.post1 p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.imagen1 {
  width: 650px;
}

.descrip1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.post2 {
  display: flex;
  margin-top: 3rem;
}
.post2 p {
  margin-right: 1rem;
  margin-left: 1rem;
}

.imagen2 {
  width: 650px;
}

.descrip2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.post3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  background-image: url(../imagenes/fondo\ jugadores1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
}

.descrip3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 1.4rem;
}
.descrip3 p {
  text-align: justify;
}

.video1 {
  height: 310px;
  width: 500px;
  margin-top: 3rem;
}

.bodyTotal3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.1fr 5fr 0.1fr;
  grid-template-areas: "menu menu" "titulo titulo" "contenido contenido" "footer footer";
}

.navegacion {
  grid-area: menu;
}

.titulo3 {
  grid-area: titulo;
}

.main3 {
  grid-area: contenido;
}

.footer {
  grid-area: footer;
}

.main3 {
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titulo3 {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.partido1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.partido1 p {
  font-weight: 700;
}

.video2 {
  width: 510px;
  height: 300px;
}

.bodyTotal4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 0.3fr 2.8fr 0.8fr 0.6fr 0.1fr;
  grid-template-areas: "menu menu" "titulo titulo" "principal principal" "penales penales" "final final" "footer footer";
}
.bodyTotal4 .navegacion {
  grid-area: menu;
}
.bodyTotal4 .titulo4 {
  grid-area: titulo;
}
.bodyTotal4 .main4 {
  grid-area: principal;
}
.bodyTotal4 .ultimo1 {
  grid-area: penales;
}
.bodyTotal4 .final {
  grid-area: final;
}
.bodyTotal4 .footer {
  grid-area: footer;
}

.titulo4 {
  text-align: center;
}
.titulo4 h1 {
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
}
.titulo4 h2 {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.main4 {
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main4 img {
  width: 520px;
  height: 305px;
}
.main4 iframe {
  width: 520px;
  height: 305px;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.section4 p {
  font-size: 1, 5rem;
  font-weight: 700;
}

.ultimo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.ultimo1 p {
  font-size: 1, 5rem;
  font-weight: 800;
}

.video3 {
  width: 600px;
  height: 300px;
}

.div4 {
  text-align: center;
  margin-top: 3rem;
}
.div4 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.div4 h4 {
  font-size: 1.5rem;
}
.div4 p {
  font-size: 1.3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 500;
}

.campeon {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.img4 {
  height: 310px;
  width: 510px;
}

.bodyTotal5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 0, 5fr 0.5fr 0.5fr 0.5fr 0.1fr;
  grid-template-areas: "menu menu " "titulo titulo" "info1  info1" "info2  info2" "info3  info3" "footer footer";
}
.bodyTotal5 .navegacion {
  grid-area: menu;
}
.bodyTotal5 .titulop {
  grid-area: titulo;
}
.bodyTotal5 .info1 {
  grid-area: info1;
}
.bodyTotal5 .info2 {
  grid-area: info2;
}
.bodyTotal5 .info3 {
  grid-area: info3;
}
.bodyTotal5 .footer {
  grid-area: footer;
}

.titulop {
  text-align: center;
}
.titulop p {
  font-size: 1.5rem;
}

.text {
  margin-top: 6rem;
}

.qatar {
  margin-top: 1rem;
  display: flex;
}
.qatar p {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-right: 2rem;
}
.qatar img {
  width: 470px;
  height: 320px;
}

.text2 {
  margin-top: 6rem;
}
.text2 p {
  font-size: 1.4rem;
}

.argentina {
  display: flex;
  justify-content: space-between;
}
.argentina .imgf {
  width: 440px;
  height: 320px;
}

.text3 {
  margin-top: 6rem;
}
.text3 p {
  font-size: 1.4rem;
}

.bangladesh {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.bangladesh .mapa {
  width: 440px;
  height: 320px;
}
.bangladesh .img5 {
  width: 440px;
  height: 320px;
}

@media screen and (max-width: 768px) {
  .bodyTotal2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0, 8fr 1fr 1fr 1fr 0fr;
    grid-template-areas: "menu" "intro" "principal1" "principal2" "video" "footer";
  }
  li {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.1rem;
    margin-top: 2rem;
  }
  .center {
    font-size: 1rem;
    height: 40rem;
  }
  .post1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3rem;
  }
  .post1 p {
    margin-top: 1rem;
  }
  .imagen1 {
    width: 550px;
    height: 320px;
    margin-top: 1rem;
  }
  .descrip1 {
    font-size: 1.1rem;
  }
  .post2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .post2 p {
    margin-top: 1rem;
  }
  .imagen2 {
    width: 550px;
    height: 325px;
    margin-top: 1rem;
  }
  .descrip2 {
    font-size: 1.1rem;
  }
  .post3 {
    height: 33rem;
  }
  .descrip3 {
    color: whitesmoke;
    font-size: 1.1rem;
  }
  .video1 {
    height: 220px;
    width: 360px;
    margin-top: 2rem;
  }
  .footer img {
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .bodyTotal2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0, 6fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "menu" "intro" "principal1" "principal2" "video" "footer";
  }
  .encabezado img {
    width: 10px;
    margin-left: 5rem;
  }
  li {
    font-size: 1rem;
  }
  .center {
    font-size: 0.9rem;
    height: 30rem;
  }
  .descrip1 {
    font-size: 0.9rem;
  }
  .imagen1 {
    width: 400px;
    height: 200px;
    margin-top: 0, 5rem;
    margin-right: none;
  }
  .descrip2 {
    font-size: 0.9rem;
  }
  .imagen2 {
    width: 400px;
    height: 200px;
    margin-top: 0, 5rem;
  }
  .descrip3 {
    color: whitesmoke;
    font-size: 0.8rem;
  }
  .video1 {
    height: 200px;
    width: 300px;
    margin-top: 2rem;
  }
  .footer img {
    height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .bodyTotal3 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 6fr 0.1fr;
    grid-template-areas: "menu " "titulo" "contenido " "footer ";
  }
  .main3 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .titulo3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
  }
  .partido1 {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .video2 {
    width: 480px;
    height: 280px;
  }
}
@media screen and (max-width: 500px) {
  .bodyTotal3 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 7fr 0.1fr;
    grid-template-areas: "menu " "titulo" "contenido " "footer ";
  }
  .main3 {
    margin-top: 4rem;
  }
  .titulo3 {
    margin-top: 3rem;
    font-size: 0.9rem;
  }
  .partido1 {
    font-size: 0.9rem;
  }
  .video2 {
    width: 400px;
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  .bodyTotal1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 5fr 0.2fr;
    grid-template-areas: "menu" "contenido" "footer";
  }
  .encabezado {
    background-color: red;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
}

html {
  font-size: 62.5%;
}

.bodyTotal1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 6.5fr 0.2fr;
  grid-template-areas: "menu menu" "contenido contenido" "footer footer";
}
.bodyTotal1 .navegacion {
  grid-area: menu;
}
.bodyTotal1 .intro {
  grid-area: contenido;
}
.bodyTotal1 .footer {
  grid-area: footer;
}

.encabezado {
  background-color: gray;
  display: flex;
  justify-content: space-between;
}
.encabezado img {
  width: 80px;
  margin-left: 5rem;
}

a {
  color: white;
  text-decoration: none;
}

li {
  display: inline-block;
  margin-right: 4.5rem;
  font-size: 1.5rem;
  margin-top: 3rem;
}

ul {
  list-style-type: none;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 4rem;
}
.intro img {
  height: 300px;
}
.intro h2 {
  padding-top: 1rem;
  font-size: 2.1rem;
}

main div:hover {
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

.card {
  margin-top: 0.5rem;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: right;
}
.footer img {
  height: 40px;
}

/*# sourceMappingURL=styles.css.map */
